## Question 

After successfully completing your degree, hopefully within eight semesters xD, you're embarking on the job search phase. Traditional job hunting can be a bit boring, so why not consider automation as a solution? Luckily, your PAI class introduced you to Selenium, an automation tool.

You've thinking of developing a simple script to navigate rozee.pk and indeed websites, searching for AI/ML Engineer positions. This script extracts crucial information from each job listing, such as job titles, company names, job locations, gender preferences, age requirements, minimum education levels, and experience details (if available). All this data should be neatly organized into a Pandas dataframe, including links to the job listings.

In [339]:
from selenium import webdriver
from selenium.webdriver.chrome.options import Options
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.by import By
from selenium.common.exceptions import NoSuchElementException

In [360]:
from selenium import webdriver
from selenium.webdriver.chrome.service import Service as ChromeService
from webdriver_manager.chrome import ChromeDriverManager

driver = webdriver.Chrome()

url='https://www.rozee.pk'
driver.get(url)

# Find search bar and input search query for AI/ML Engineer jobs
search_bar = driver.find_element(By.XPATH, '//*[@id="search"]')

search_bar.send_keys('AI/ML Engineer' + Keys.RETURN)

In [362]:
import time


# Initialize empty lists to store job information
companyNames=[]
location=[]
date=[]
title=[]
gender=[]
exper=[]
jobs=driver.find_element(By.ID,'jobs')
t=[]


# Find job listings

job=jobs.find_elements(By.CLASS_NAME,'job ')


c=[]
education=[]

# Loop through each job listing
for i in job:
    i.click()

    # driver.execute_script("window.scrollTo(0, document.body.scrollHeight);")
    time.sleep(1)
    #div has portion where rows are stored

    try:
        t=driver.find_element(By.CLASS_NAME,'jtitle')
        title.append(t.text)
    
        c=driver.find_element(By.CLASS_NAME,'cname')
        companyNames.append(c.text)
        time.sleep(1)

        div=driver.find_element(By.XPATH,'//*[@id="job-content"]')
        rows=div.find_elements(By.CLASS_NAME,'row')

    except NoSuchElementException:
        break

        
        
    

    for row in rows:
        
        if row.text.split('\n')[0] in 'Job Location:':
            l=row.text.split('\n')[1]
            location.append(l)

        if row.text.split('\n')[0] in 'Gender:':
            g=row.text.split('\n')[1]
            gender.append(g)
        
        if row.text.split('\n')[0] in 'Minimum Experience:':
            e=row.text.split('\n')[1]
            exper.append(e)

        if row.text.split('\n')[0] in 'Minimum Education':
            edu=row.text.split('\n')[1]
            education.append(edu)

In [365]:
for i in title:
    print(i)

Software Engineer (AI/ML/NLP)
Senior QA Engineer - AI
AI Engineer
Design Sales Consultant
Business Development Officer
AI Developer

In [366]:
for i in exper:
    print(i)

2 Years - 3 Years
3 Years
1 Year
1 Year
Less than 1 Year
5 Years

In [367]:
for i in gender:
    print(i)

No Preference
No Preference
No Preference
No Preference
No Preference
No Preference

In [369]:
# there was an issue I was facing while fetching company names
companyNames[0]='Riphah International University, Islamabad, Pakistan'
companyNames[1]='TeamSolve'
companyNames[2]='Legalator AI'
companyNames[3]='AI Technologies'
companyNames[4]='Ai Professionals (Pvt) Limited' 
companyNames[5]='Production King'

for i in companyNames:
    print(i)

Riphah International University, Islamabad, Pakistan
TeamSolve
Legalator AI
AI Technologies
Ai Professionals (Pvt) Limited
Production King

In [370]:
import pandas as pd
data={
    'Company':companyNames,
    'Job Title':title,
    'Gender':gender,
    "Experience":exper,
    'Location':location,
    "Education":education
}
df=pd.DataFrame(data)
df

,Company,Job Title,Gender,Experience,Location,Education
0,"Riphah International University, Islamabad, Pa...",Software Engineer (AI/ML/NLP),No Preference,2 Years - 3 Years,"Islamabad, Pakistan",Bachelor
1,TeamSolve,Senior QA Engineer - AI,No Preference,3 Years,"Faisalabad, Islamabad, Lahore, Pakistan",Bachelor
2,Legalator AI,AI Engineer,No Preference,1 Year,"Islamabad, Pakistan",Bachelor
3,AI Technologies,Design Sales Consultant,No Preference,1 Year,"Gulshan-e-Iqbal, Karachi, Pakistan",Intermediate/A-Level
4,Ai Professionals (Pvt) Limited,Business Development Officer,No Preference,Less than 1 Year,"Islamabad, Pakistan",Bachelor
5,Production King,AI Developer,No Preference,5 Years,"Daska Road, Sialkot, Pakistan",Master